{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Voting System</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{%  static 'admin/css/styles.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="d-flex" id="wrapper">
      <!-- Sidebar-->
      <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">
          Voting System (VS)
        </div>
        <div class="list-group list-group-flush">
          <a
            class="list-group-item list-group-item-action list-group-item-light p-3"
            href="#!"
            >Dashboard</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-light p-3"
            href="{% url 'results' %}"
            >My Voting</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-light p-3"
            href="{% url 'logout' %}"
            >Logout</a
          >
        </div>
      </div>
      <!-- Page content wrapper-->
      <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav
          class="navbar navbar-expand-lg navbar-light bg-light border-bottom"
        >
          <div class="container-fluid">
            <button class="btn btn-primary" id="sidebarToggle">
              Voting Dashboard
            </button>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#!"
                    >Username: {{request.user.username}}</a
                  >
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    id="navbarDropdown"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Setting</a
                  >
                  <div
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="navbarDropdown"
                  >
                    <a class="dropdown-item" href="{% url 'logout' %}"
                      >Logout</a
                    >
                    <!-- <a class="dropdown-item" href="#!">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#!">Something else here</a> -->
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
          {% for message in messages %}
          <div
            class="alert alert-warning alert-dismissible fade show"
            role="alert -{{ message.tags }}"
          >
            <strong>Voting Message !</strong> {{ message }}.
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          <!-- <div class="alert alert-{{ message.tags }}">{{ message }}</div> -->
          {% endfor %}
          <form method="post" action="{% url 'vote' %}">
            {% csrf_token %} {% for candidate in candidates %}
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="candidate"
                id="exampleRadios1"
                value="{{ candidate.id }}"
                checked
              />
              {{ candidate.name }}
              <br />
            </div>
            {% endfor %}
            <br />
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-3">
                submit voted
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'admin/js/scripts.js' %}"></script>
  </body>
</html>
